#categories.scroll-mt-36.w-full.grid.grid-cols-1.mt-20.px-4(class="md:grid-cols-2 sm:px-8 md:gap-12 lg:gap-0 xl:px-0")
  .flex.items-center.relative(class="sm:justify-center md:justify-start")
    .mt-12.w-60.h-40.bg-orange-400.relative.rounded-lg(class="sm:mt-20 md:mt-0 sm:w-80 sm:h-52 md:w-96 md:h-72")
      img.absolute.bottom-0.left-8.z-10(src="./src/assets/images/cook.png", alt="cook")
    .absolute.p-4.bg-white.rounded-lg.shadow-md.left-40.top-0(class="sm:left-[23rem] sm:right-auto md:left-auto md:right-0 md:top-0 md:p-8 lg:left-52 lg:top-20 xl:left-60 lg:right-auto")
      .font-semibold(class="sm:text-xl") Happy customer
      .flex.items-center.w-9.h-9.relative.mt-2
        each path in [...Array(4).keys()]
          .absolute.w-9.h-9.bg-white.rounded-full.flex.justify-center.items-center(class=`left-${path*6}`)
            .w-8
              img.rounded-full(src=`./src/assets/images/avatar${path}.png`, alt="avatar")
        .absolute.w-8.h-8.bg-orange-100.flex.justify-center.items-center.border-2.border-orange-400.border-dashed.text-orange-400.rounded-full.text-xl.left-24
          ion-icon(name="add")
      .flex.items-center.mt-4 
        ion-icon.text-orange-400.mr-2.leading-6(name="star")
        .text-xs(class="sm:text-base") 4,8 (1320 reviews)
  .mt-8.flex.flex-col(class="md:mt-0")
    .font-extrabold.text-5xl.capitalize Explore the best
      br(class="md:hidden lg:block")
      | foods by categories.
    p.mt-4 Eat the food you dream about at affordable prices.
    p No need to come to us just call us. Explore the best foods by categories.
    .categories.mt-8.mb-20
      each food, index in [{name: "Breakfast", amount: "50 times"}, {name: "Lunch", amount: "50 times"}, {name: "Dinner", amount: "50 times"}, {name: "Water & drinks", amount: "50 times"}, {name: "Desert foods", amount: "50 times"}, {name: "Fast foods", amount: "50 times"}]
        .flex.flex-col.h-52
          img.w-full.h-full.object-cover.rounded-lg(src=`./src/assets/images/food${index}.png`, alt="food")
          .font-semibold.text-xl.mt-4.capitalize= food.name 
          div= food.amount